@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: #171818;
    font-family: "Bebas Neue";
}

/*Header*/

#title {
    color: #636462;
    text-align: center;
    font-size: 3.2rem;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 15rem;
    width: 250px; 
}

/*Article*/

#sub-title {
    color: #636462;
    text-align: center;
    font-size: 2rem;
}

.flex-container {
    display: flex;
    justify-content: center;      
    align-items: center;          
    flex-wrap: wrap;              
    gap: 1.5rem;                  
    margin-top: 2rem;             
}

.flex-items {
    font-size: 1.4rem;
    padding: 0.5rem 2rem;
    border-radius: 2rem;
    color: aliceblue;
    text-align: end;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

/*Article2*/

#text-quienesSomos {
    font-family: "calibri";
    color: aliceblue;
    text-align: center;
    margin: 0 auto;
    width: 500px;
}