<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Barberia Baigon/Claros</title>
    <link rel="icon" href="../images/BarberiaBaigon.png" type="image/x-icon">
    <link rel="stylesheet" href="../css/component.css">
</head>
<body>
    <header>
        <h1 id="title">CLAROS</h1>
    </header>
    <section>
        <div class="button">
            <a href="../index.html">IR AL INICIO</a>
        </div>
    </section>
    <section class="container">
        <img src="../images//claros.jpeg">
    </section>
    <section>
        <div class="button">
            <a href="https://wa.me/message/RVGRN4RESVDWJ1" target="_blank" rel="noopener noreferrer">SOLICITAR TURNO</a>
        </div>
    </section>
</body>
</html>